/* core styles */
:root {
  --main-background: #f1ad00;
  --main-color:#fff;
  --common-color: #333;
  --common-bg: #fff;
  --form-primary: #f1ad00;
  --color-success: #5cb85c;
  --color-primary: #337ab7;
  --color-info: #5bc0de;
  --color-warning: #f0ad4e;
  --color-danger: #d9534f;


}

::selection {
  background: var(--main-background);
  color: var(--main-color);
}

li {
  list-style: none;
  transition: all 100ms linear;
}
 * {
   box-sizing: border-box;
 }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-background,#333);
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  color: var(--main-color, #fff);
  transition: all 100ms linear;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.card img {
  min-height: 10em;
}
h1, h2, h3, p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  margin: 0.5em 0;
  background: var(--main-background);
  color: var(--main-color);
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid var(--main-color);
  transition: all 100ms linear;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
  transition: all 100ms linear;
}

/* header */

#showcase {
  height: 75vh;
  text-align: center;
}


#showcase .bg-image {
  position: absolute;
  background:var(--form-primary);
  background: var(--main-background) url('/images/pexels-photo-350397.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75vh;
  z-index: -1;
  opacity: 0.6;
  background-blend-mode: multiply, overlay;
  transition: all 100ms linear;
}

#showcase .fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:75vh;
  overflow:hidden;
  z-index: -2;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
  background-position: center;

}

#showcase h1 {
  padding-top: calc(75vh/3);
  padding-bottom: 0;
  transition: all 100ms linear;
}

#showcase .content-wrap,
#section-a .content-wrap {
 padding: 0 1.5em;
}

/* section A */
#section-a {
  padding-top: calc(25vh / 50%);
  min-height: 25vh;
  background: #eaeaea;
  color: var(--common-color);
  padding-bottom: 2em;
  transition: all 100ms linear;
}

/* section B */

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: var(--common-bg);
  color: var(--common-color);
  transition: all 100ms linear;
}

.card-shadow {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.card-content {
  padding: 1.5em;
}

/* #section C */

#section-c {
  background: var(--common-bg);
  color: var(--common-color);
  transition: all 100ms linear;
}

/* #section D */

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #2690d4;
}

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: var(--form-primary);
  text-decoration: none;
}

@media(min-width: 700px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2,minmax(auto, 25em)) 1fr;
    transition: all 100ms linear;
  } 

  #section-a .content-text {
    /* columns: 2;
    column-gap: 2em; */
  }

  #section-a .content-text p {
    padding-top: 0;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }

  .content-wrap, 
  #section-b ul {
    grid-column: 2/4;
  }
  .box, #main-footer div {
    grid-column: span 2;
  }


  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info h3, .company-info ul, .brand {
    text-align: initial;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.progress {
  align-self: flex-start;
  flex-grow: 10;
  flex-basis: 100%;
  width: 100%;
  word-wrap: normal;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 25px;
  margin-bottom: 0.2em;

}

.progress-bar {
  background: var(--form-primary);
  /* color: #696969; */
  white-space: nowrap;
}


.bg-success {
  background: var(--color-success);
}

.bg-info {
  background: var(--color-info, #4848ff)
}

.bg-warning {
  background: var(--color-warning, #f1d900)
}

.bg-danger {
  background: var(--color-danger, rgb(255, 51, 0))
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.typing { 
  display: inline-block;
	font: bold 2em monospace;
  /* color: var(--common-color); */

  max-width: 100%;

	white-space: initial;
	overflow: hidden;
	/* animation: typing 3s steps(16, end) ,
	           blink-caret .5s step-end infinite alternate; */
}

@media(min-width: 700px) {
  .typing {
    width: calc(0.55em * 14); 
    width: 16ch;
    white-space: nowrap;
    border-right: .1em solid var(--main-color);
    animation: typing 3s steps(16, end) ,
             blink-caret .5s step-end infinite alternate;
          
   }
}


.pimg {
  width: 100%;
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* 
    fixed = scroll paralax
    scroll = default
  */
  background-attachment: fixed;
  background-image: url('https://avatars0.githubusercontent.com/u/13042769?v=3&s=460');
  background-color:  var(--main-background) ;
  background-blend-mode: overlay; 
  min-height: 100vh;
  min-width: 100vw;
  transition: all 100ms linear;
}


.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  transform: translateY(-50%);
  font-size: 6vw;
  letter-spacing: 2vw;
  text-transform: uppercase;
  transition: all 100ms linear;
  /* opacity: 0.5; */ 
}

.ptext .border {
  background-color: #111;
  color: var(--main-color);
  padding: 2vw;
  border-radius: 0px 20px 0px 25px;

}

.ptext .border.trans {
  background-color: transparent;
  color: var(--main-color);
  text-shadow: -3px 2px 1px #000;
  margin: 0;
  padding: 0;
  min-width:100vw;
}

 .ptext .border {
  color: rgb(240, 219, 156);
  text-decoration: none;
  transition: 300ms all ease-out;
}


@media print {

  #showcase {
    min-height: auto;
    height: auto;
  }
  #showcase h1 {
    padding: 1em; 
  }
  .progress {
    display: none;
    text-align: center;
  }


  .progress-bar {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    max-width: 33%;
    padding: 1em;
    flex-direction: row;
  }

  .btn {
    display: none;
  }

  img {
    display: none;
  }
  
  .ptext {
    font-size: 1em;
    color: black;
  }

  .pimg {

    min-height: auto;
  } 

  footer:after {
    content: "tal1989@gmail.com"
  }
}


/* color picker popout */

.color-menu {
  position: fixed;
  display: flex;
  top: 1vh;
  left: 1vw;
  font-size: 1em;
  z-index: 1;
}

.color-menu label {
  display: block;
  cursor: pointer;
  position: relative;
  line-height: 2;
  margin-right: 2em;
}

.color-menu label::before {
  position: absolute;
  content: "\270e";
  line-height: 1;
  font-size: 2em;
  text-align: center;
  transition: all 300ms linear;
  animation: spins 300ms linear forwards;
}

input#color-icon {
  display: none;
}

input:checked~label::before {
  animation: spin 300ms linear forwards;
}

.colors-menu {
  display: inline-flex;
  width: 0;
  overflow: hidden;
  will-change: width;
  position: absolute;
  left: 0;
  transition: all 300ms 100ms cubic-bezier(0, -2.05, 0.43, -0.65);
  will-change: width;
}

input:checked ~ .colors-menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  left: 5vw;
  will-change: width;
  width: 7em;
  transition: all 300ms cubic-bezier(0, -2.05, 0, 4.29);
}

.color {
  margin-left: 1em;
  height: 2em;
  width: 2em;
  line-height: 2;
  font-family: initial;
}


@keyframes spins {
  from {
    opacity: .8;
    content: "\d7";
    transform: rotate(0deg) skewX(-20deg);
  }
  50% {
    opacity: .4;
    transform: rotate(180deg) skewX(10deg) scale(0.4);
  }
  to {
    opacity: 1;
    content: "\270e";
    transform: rotate(360deg) skewX(0);
  }

}

@keyframes spin {
  from {
    opacity: 0.8;
    content: "\270e";
    transform: rotate(360deg) skewX(-20deg);

  }
  50% {
    transform: rotate(180deg) skewX(10deg) scale(0.4);
    opacity: .4
  }
  to {
    opacity: 1;
    content: "\d7";
    transform: rotate(0deg) skewX(0);
  }
}